<div class="container">
  <div class="row">
    <div class="col">
      <div class="border-secondary shadow card h-100 mt-3">
        <div class="row">
          <div class="col-12 my-4 col-lg-6">
            <div class="border-secondary card h-100 ml-3" *ngIf="avion">
              <img class="card-img-top" src="#"  alt="image_avion"
                   height="430">
            </div>
          </div>
          <div class="col-12 my-4 col-lg-6">
            <div class="border-0 card h-100">
              <div class="card-body">
                <h4 class="card-title text-center">{{ avion?.marque }}</h4>
                <hr>
                <table class="table table-border">
                  <div>
                    <tr>
                      <td class="text-left">Type</td>
                      <td>{{ avion?.type }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Moteur</td>
                      <td>{{ avion?.moteur }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Puissance</td>
                      <td>{{ avion?.puissance }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Place</td>
                      <td>{{ avion?.place }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Autonomie</td>
                      <td>{{ avion?.autonomie }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Usage</td>
                      <td>{{ avion?.usage }}</td>
                    </tr>
                    <tr>
                      <td class="text-left">Nombre d'heures</td>
                      <td>{{ avion?.heures }}</td>
                    </tr>
                  </div>


                  <tr>
                    <td>
                      <a class="btn btn-success" >Editer / Certifier</a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="row">
          <div class="col-12">
            <div class="border-0 card h-100">
              <div th:object="${sitePageEscalade}" class="card-body">
                <h5 class="card-title">Descritpion</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>


<hr>


<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="avion">
      <h2 data-cy="avionDetailsHeading"><span jhiTranslate="aeroclubspassionApp.avion.detail.title">Avion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ avion.id }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.marque">Marque</span></dt>
        <dd>
          <span>{{ avion.marque }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.type">Type</span></dt>
        <dd>
          <span>{{ avion.type }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.moteur">Moteur</span></dt>
        <dd>
          <span>{{ avion.moteur }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.puissance">Puissance</span></dt>
        <dd>
          <span>{{ avion.puissance }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.place">Place</span></dt>
        <dd>
          <span>{{ avion.place }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.autonomie">Autonomie</span></dt>
        <dd>
          <span>{{ avion.autonomie | duration }} ({{ avion.autonomie }})</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.usage">Usage</span></dt>
        <dd>
          <span>{{ avion.usage }}</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.heures">Heures</span></dt>
        <dd>
          <span>{{ avion.heures | duration }} ({{ avion.heures }})</span>
        </dd>
        <dt><span jhiTranslate="aeroclubspassionApp.avion.aeroclub">Aeroclub</span></dt>
        <dd>
          <div *ngIf="avion.aeroclub">
            <a [routerLink]="['/aeroclub', avion.aeroclub?.id, 'view']">{{ avion.aeroclub?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/avion', avion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
