/* ==========================================================================
Main page styles
========================================================================== */
.text-left {
font-weight: bold;
}

.card-title {
  font-weight: bold;
}

td {
  text-align: right;
}




